@font-face {
    font-family: 'jaapokki_enchanceregular';
    src: url('jaapokkienchance-regular-webfont.woff2') format('woff2'),
         url('jaapokkienchance-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
font-family: Century Gothic, sans-serif;
	border-style: solid;
border-color: 060073;
padding:30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.card-header {
background-color: 060073;
}

.bg-navy {
background-color: 060073;
}

a:link {
  text-decoration: none;
}

.white-font {
text-decoration: none;
color: white;

}

.top-font {
font-size: calc(7px + 1.2vw);
}

.name-font {
font-size: calc(7px + 4vw);
}

.subtitle-font {
font-size: calc(7px + 3vw);
}

.category-font {
font-size: calc(7px + 1.3vw);
}

.contact-info {
font-size: calc(8px + 1vw);
}

.skills-info {
font-size: calc(7px + .7vw);
}

.experience-info {
font-size: calc(7px + .7vw);
}

.experience-info-title {
font-size: calc(7px + 1.2vw);
}

.about-me-font {
font-size: calc(9px + .7vw);
}
