@import url(https://fonts.googleapis.com/css?family=VT323);

html, body, #root, .center {
    background-color: #222222;
    height: 100%;
    overflow: scroll;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.center {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.screenBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
}

.frame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    border: 2px #888888 solid;
    border-radius: 1%;
}

.screenBox2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: calc(100% - 100px);
    height: 90%;
    background-color: #999999;
    border-bottom: 2px #888888 solid;
}

.screenBox3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    left: 8px;
    top: 8px;
    width: calc(100% - 82px);
    height: calc(100% - 42px);
    background-color: #7a7a7a;
    border-radius: 30% / 2%;
    
}

.screenEffect {
    background: repeating-linear-gradient(
      to bottom,
      #171717,
      #171717 1px,
      #121212 1px,
      #121212 2px
    );
}

.screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    left: 6px;
    top: 6px;
    width: calc(100% - 94px);
    height: calc(100% - 34px);
    background-color: #171717;
    border-radius: 50% / 8%;
    -webkit-box-shadow: inset 0px 10px 6px 0px #111111;
    cursor: text;
}

.bottomFrame {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #e3e3e3;
    width: 100%;
    height: 10%;
    bottom: 0px;
    border-top: 2px #888888 solid;
}

.fan {
    background: repeating-linear-gradient(
      to right,
      white,
      white 3px,
      #333333 3px,
      #333333 6px
    );
    width: 15%;
    height: 100%;
}

.logo {
    width: 10%;
}

.screenBox .powerButton {
    display: flex;
    width: 30%;
    height: 60%;
    background-color: #999999;
    border: 1px #7a7a7a solid;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.powerIcon {
    border: 1px #555555 solid;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.powerSection {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right:40px;
}

.screenBox .powerLight {
    width: 14%;
    height: 25%;
    border-radius: 50%;
}

.lightOn {
    background-color: #1BCF60;
    -webkit-box-shadow: 0px 1px 5px 0px #1BCF60;
}

.lightOff {
    background-color: #FA4646;;
    -webkit-box-shadow: 0px 1px 5px 0px #FA4646;;
}

#output {
    width: 95%;
    height: 80%;
    top: 20px;
    left: 10px;
    color: #33ff66;
    font-size: 10px;
    display: none;
    font-family: 'VT323';
    overflow: auto;
}

::-webkit-scrollbar { 
  display: none;
}

.terminalInput {
    margin-left: 10px;
    background: none;
    outline: none;
    border: none;
    font-family: 'VT323';
    color: #33ff66;
    font-size: 30px;
}


@media screen and (max-width: 580px) {
    .screen, .screenBox, .screenBox2, .screenBox3 {
        width: 100%;
    }
    p, .terminalInput {
        font-size: 20px;
    }
    .powerIcon {
        width: 15px;
        height: 20px;
    }
    .screenBox .powerButton {
        width: 20px;
        height: 30px;
    }
    .powerSection {
        margin-right:10px;
    }
  }